<div class="container">
    <div class="col-xs-12 mg-bot15">
        <div class="titlebooking mg-bot15 text-center">
            <h1 style="color: green; font-size: 25px">BOOKING SUCCESS</h1>
        </div>
        <div class="text-center">Thank you for choosing FlashTour.
        </div>
        <div class="text-center">
            Your tour is awaiting moderation,
            Flash Tour staff will contact you via email and phone number for your tour application form.
        </div>
        <div class="text-center">
            Wish you one day happy and full of joy.
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <img src="./assets/images/banner-flashtour.jpg" class="bookingimage" alt="BOOKING SUCCESS">
    </div>
    <div class="text-center comback-home">
        <a href="https://localhost:5005/" style="color: red;
  text-decoration: none;">Please comeback FlashTour</a>
    </div>
</div>