/*Liên hệ*/
h1{
  text-align: center;
  color:red;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;

}
.title.mg-bot15 {
  margin-top: 20px;
}
.text-center{
  padding-bottom: 10px;
}
.col-xs-12{
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.mg-bot-50{
  bottom: 50px;
}
.mg-bot-15{
  margin-bottom: 15px;
}
.frame-contact{
  background-color: #f4f4f4;
  padding: 30px;
  padding-bottom: 30px;
}
.tencn{
  color: red;
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
}
.fa, .fas{
  display: inline-block;
}
.i-con{
  float: left;
  width: 20px;
}
.star{
  color: red;
}
.row{
  padding-bottom: 30px;
}
.bookingimage{
  max-width:100% ;margin: 0 auto; display: block;
}
.comback-home:hover{
  color: red;
  text-decoration: none;
}
i.fa.fa-check {
  font-size: 20px;
  color: green;
  margin-top: 20px;
}