<div class="container">
    <div class="col-xs-12 mg-bot15">
        <div class="title mg-bot15"><h1>CONTACT</h1></div>
        <div class="text-center">To be able to respond to your requests and comments quickly please contact
        </div>
    </div>
    <div class="col-xs-12 mg-bot50">
        <form id="mycontact" method="post" class="was-validated" novalidate="">
            <input name="__RequestVerificationToken" type="hidden" value=""><input data-val="true" data-val-required="The tour_id field is required." id="tour_id" name="tour_id" type="hidden" value="">
            <div class="frame-contact">
                <div class="row" *ngIf="contact">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-bot15">
                        <label>Information (<span class="star">*</span>)</label>
                        <select name="dropdown" class="form-control" [(ngModel)]="contact.information" required>
                            <option value="Travel">Travel</option>
                            <option value="Customer Service">Customer Service</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="contact.information==''">
                            Please enter full infomation.
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-bot15">
                        <label>Full Name (<span class="star">*</span>)</label>
                        <div>
                            <input class="form-control" (keyup)="keyupValidate(contact.fullName,100)" id="full_name" name="full_name" type="text" [(ngModel)]="contact.fullName" required>
                            <div class="invalid-feedback" *ngIf="contact.fullName==''">
                                Please enter full infomation.
                            </div>
                            <div class="text-danger" *ngIf="checkSpecialCharacterRegrex(contact.fullName)">
                                Not accept special characters.
                            </div>
                            <div class="text-danger" *ngIf="!checkMaxLengthRegrex(contact.fullName,100)">
                                Over 100 characters.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-bot15">
                        <label>Email (<span class="star">*</span>)</label>
                        <div>
                            <input class="form-control" id="email" name="email" (keyup)="keyupValidate(contact.email,255)"  required="required" type="email" [(ngModel)]="contact.email">
                            <div class="invalid-feedback" *ngIf="contact.email==''">
                                Please enter full infomation.
                            </div>
                            <div class="text-danger" *ngIf="!checkEmailRegrex(contact.email)">
                                Please enter corect full infomation.
                            </div>
                            <div class="text-danger" *ngIf="!checkMaxLengthRegrex(contact.email,255)">
                                Over 255 characters.
                            </div>
                        </div>                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-bot15">
                        <label>Phone (<span class="star">*</span>)</label>
                        <div>
                            <input class="form-control" id="mobilephone" name="mobilephone" (keyup)="keyupValidate(contact.phone)" required="required" type="phone" [(ngModel)]="contact.phone">
                            <div class="invalid-feedback" *ngIf="contact.phone==''">
                                Please enter full infomation.
                            </div>
                            <div class="text-danger" *ngIf="!checkPhoneRegrex(contact.phone)">
                                Invalid phone number format.
                            </div>
                        </div>                    
                    </div>
                    <div class="col-xs-12 mg-bot15">
                        <label>Address</label>
                        <div>
                            <input class="form-control" id="address" name="address" (keyup)="keyupValidate(contact.address,255)"  type="text" [(ngModel)]="contact.address" required>
                            <div class="invalid-feedback" *ngIf="contact.address==''">
                                Please enter full infomation.
                            </div>
                            <div class="text-danger" *ngIf="!checkMaxLengthRegrex(contact.address,255)">
                                Over 255 characters.
                            </div>
                        </div>                    </div>
                    <div class="col-xs-12 mg-bot15">
                        <label>Title (<span class="star">*</span>)</label>
                        <div>
                            <input class="form-control" id="title" name="address" (keyup)="keyupValidate(contact.title,255)"  type="text" [(ngModel)]="contact.title" required>
                            <div class="invalid-feedback" *ngIf="contact.title==''">
                                Please enter full infomation.
                            </div>
                            <div class="text-danger" *ngIf="!checkMaxLengthRegrex(contact.title,255)">
                                Over 255 characters.
                            </div>
                        </div>                      </div>
                    <div class="col-xs-12 mg-bot15">
                        <label>Content (<span class="star">*</span>)</label>
                        <div>
                            <textarea class="form-control" cols="20" id="note" name="note" rows="4" (keyup)="keyupValidate(contact.content,500)" [(ngModel)]="contact.content" required=""></textarea>
                            <div class="text-danger" *ngIf="!checkMaxLengthRegrex(contact.content,500)">
                                Over 500 characters.
                            </div>
                            <div class="invalid-feedback" *ngIf="contact.content==''">
                                Please enter full infomation.
                            </div>
                        </div>                
                    </div>
                    <div class="col-xs-12 text-center">
                        <button id="btnSubmit" type="submit" class="btn btn-md btn-general" (click)="postContact()">Send<i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>