<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [ngClass]="chosenEdit?'nav-link active':'nav-link'" (click)="newTour()" >Edit tours</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a [ngClass]="!chosenEdit?'nav-link active':'nav-link'" (click)="clickCensorship()">Sensorship</a>-->
<!--    </li>-->
</ul>
<appc-table #table [options]="options"></appc-table>
<ng-template #statusTemplate let-row="row" let-value="value">
    <input class="form-check-input" type="checkbox" checked *ngIf="value==1"/>
    <input class="form-check-input" type="checkbox" *ngIf="value==0"/>
    {{value == 1 ? 'Enable' : 'Disable'}}
</ng-template>
<ng-template #tourPricesTemplate let-row="row" let-value="value">
    <button type="button" class="btn btn-sm btn-outline-info mb-2" data-toggle="modal" data-target="#myModal"  (click)="onClickTourPrices(this.options.columns[10].subTableColumn,row)">Prices</button>
</ng-template>
<ng-template #tourProgramsTemplate let-row="row" let-value="value">
    <button type="button" class="btn btn-sm btn-outline-info mb-2" data-toggle="modal" data-target="#myModal" (click)="onClickTourPrograms(this.options.columns[11].subTableColumn,row)">Tour's Program</button>
</ng-template>
<ng-template #tourCategoriesTemplate let-row="row" let-value="value">
    {{row.categoryName}}
</ng-template>
<ng-template #departureTemplate let-row="row" let-value="value">
    {{row.departureName}}
</ng-template>
<ng-template #imagesTemplate let-row="row" let-value="value">
    <button type="button" class="btn btn-sm btn-outline-info mb-2" data-toggle="modal" data-target="#myModal" (click)="onClickImages(this.options.columns[3].subTableColumn,row)">Images</button>
</ng-template>
<ng-template #formTemplate let-formConfig="formConfig" let-formModel="formModel" let-formTableData="formTableData" let-pricesData="pricesData" let-tourproData="tourproData" let-imagesData="imagesData">
    <app-form [config]="formConfig" [model]="formModel" #form="appForm" [pricesData]="pricesData" [tourproData]="tourproData" [imagesData]="imagesData"></app-form>
</ng-template>