<router-outlet></router-outlet>
<div id="social" class="follow-scroll-social hidden-sm hidden-xs">
    <div class="social-top">
        <a href="https://www.facebook.com/flashtourdtu/" rel="" target="_blank" title="Facebook">
            <div class="facebook icon">
                <i class="fab fa-facebook-f"></i>
            </div>
        </a>
        <a href="#" rel="" target="_blank" title="instagram">
            <div class="google icon">
                <i class="fab fa-instagram"></i>
            </div>
        </a>
        <a href="#" rel="" target="_blank" title="Youtube">
            <div class="youtube icon">
                <i class="fab fa-youtube"></i>
            </div>
        </a>
        <a href="https://www.messenger.com/t/flashtourdtu" rel="" target="_blank" title="Facebook messenger">
            <div class="messenger icon">
                <i class="fab fa-facebook-messenger"></i>
            </div>
        </a>
    </div>
</div>