<form [formGroup]="form" #formRef="ngForm">
    <ng-container *ngFor="let field of config" appFormField [config]="field">
    </ng-container>
</form>
<table class="table mt-3" *ngIf="customerData">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tourist Type</th>
        <th scope="col">Full Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birthday</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let customer of customerData;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{customer.touristType==0?"Adult":customer.touristType==1?"Children":"Kid"}}
        </td>
        <td>{{customer.fullName}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.birthDay}}</td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-primary" (click)="onClickSelectCustomer(i)">
                <i class="fa fa-search"></i> &nbsp; Select
            </button>
        </div></td>
    </tr>
   
    </tbody>
</table>
<table class="table mt-3" *ngIf="priceData">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tourist Type</th>
        <th scope="col">Tour Booking Id</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let price of priceData;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
            {{price.touristType==0?"Adult":price.touristType==1?"Children":"Kid"}}
        </td>
        <td>{{price.tourBookingId}}</td>
        <td>{{price.price}}</td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-primary" (click)="onClickSelectBookingPrice(i)">
                <i class="fa fa-search"></i> &nbsp; Select
            </button>
        </div></td>
    </tr>
    </tbody>
</table>
<!-- pricesData-->
<table class="table table-hover w-auto" *ngIf="pricesData">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Original Price</th>
        <th scope="col">Promotion Price</th>
        <th scope="col">Start Date Promotion</th>
        <th scope="col">End Date Promotion</th>
        <th scope="col">Tourist Type</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let prices of pricesData;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
            {{prices.name}}
        </td>
        <td>{{prices.originalPrice}}</td>
        <td>{{prices.promotionPrice}}</td>
        <td>{{prices.startDatePro}}</td>
        <td>{{prices.endDatePro}}</td>
        <td>{{prices.touristType==0?"Adult":prices.touristType==1?"Children":"Kid"}}
        </td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-primary" (click)="onClickSelectTourPrice(i)">
                <i class="fa fa-search"></i> &nbsp; Select
            </button>
        </div></td>
    </tr>

    </tbody>
</table>

<!-- tourprograms-->
<table class="table table-hover w-auto" *ngIf="tourproData">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Order Number</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Destination</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let tourpro of tourproData;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{tourpro.orderNumber}}</td>
        <td>{{tourpro.date}}</td>
        <td>{{tourpro.title}}</td>
        <td>{{tourpro.description}}</td>
        <td>{{tourpro.destination}}</td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-primary" (click)="onClickSelectTourPro(i)">
                <i class="fa fa-search"></i>Select
            </button>
        </div></td>
    </tr>
    </tbody>
</table>
<!-- ImagesData -->

<table class="table mt-3" *ngIf="imagesData">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let image of imagesData;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{image.image}}</td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-primary" (click)="onClickSelectImages(i)">
                <i class="fa fa-search"></i> &nbsp; Select
            </button>
        </div></td>
        <td><div class="btn-group">
            <button class="btn btn-sm btn-danger" (click)="onClickDeleteImage(i)">
                <i class="fa fa-remove"></i> &nbsp; Delete
            </button>
        </div></td>
    </tr>

    </tbody>
</table>