<section class="container-fluid " id="noidung">
    <div class="row">
        <div class="col-md-3 col-lg-2 bg-light border-right sidebar">
            <nav class="navbar bg-light navbar-light">
                <p class="navbar-brand">CATEGORIES</p>
            </nav>
            <hr class="mt-1">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-tours-staff">Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-tour-programs-staff">Tour's program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-tour-bookings-staff">Tour's booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-posts-staff">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-banners-staff">Banners</a>
               </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="manage-contacts-staff">Contacts</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>
