<section id="slide">
  <div id="carouselExampleControls" class="carousel slide slide-banner" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item {{banner.active}}" *ngFor="let banner of banners;let i=index;">
        <img class="d-block w-100" src="./assets/images/banners/{{banner.image}}" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-find-tour">
  <div class="container-fluid">
    <div id="find-tour" class="row">
      <div class="dropdown find-dropdown">
        <div class="col-lg-5 dropdown-toggle" id="search-tour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="card">
            <img class="card-img-top" src="./assets/images/find-beach-icon.png" alt="Card image">

            <p class="card-title text-find-tour font-weight-bold">FIND TOUR</p>
          </div>
        </div>
        <div class="dropdown-menu form-search " aria-labelledby="search-tour">
          <div class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </div>
      <div class="dropdown find-dropdown-r">
        <div class="col-lg-5 dropdown-toggle" id="proposal-tour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="card">
            <img class="card-img-top" src="./assets/images/proposal-flight.png" alt="Card image">

            <p class="card-title text-proposal-tour font-weight-bold">FIND POST</p>
          </div>
        </div>
        <div class="dropdown-menu form-proposal" aria-labelledby="search-tour">
          <div class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address 2</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password 2</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck">
                Remember me 2
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in 2</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="form-find" class="container-fluid">
    <div id="form-find" class="m-auto w-100">

    </div>
  </div> -->
</nav>

<section class="container-fluid">
  <div class="row mt-3 border-bottom">
    <div id="carouselExampleControls2" class="carousel slide slide-banner col-lg-10 m-auto" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item {{tourCatePaging.active}}" *ngFor="let tourCatePaging of tourCatePagings">
          <div class="row">
            <div class="col-md-2" *ngFor="let cate of tourCatePaging.tourCate">
              <div class="card mb-2">
                <img class="card-img-top" src="./assets/images/tour-categories/{{cate.image}}"
                     alt="Card image cap">
                <div class="card-body">
                  <a class="card-title stretched-link" href="#" >{{cate.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev carousel-control-tour-cate btn-secondary" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next carousel-control-tour-cate btn-secondary" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 content m-auto">
      <div class="container-fluid">
        <div class="h3 mt-3 text-dark  text-center">HOTEST TOUR</div>
        <div class="mt-1 pb-1 text-dark border-bottom text-center">The hotest tours</div>
        <div class="row">
          <div class="col-lg-3 mt-2 mb-2" *ngFor="let hotest of hotestTours">
            <div class="card">
              <div id="parent_hotest_{{hotest.id}}">
                <div id="hotest_{{hotest.id}}" class="badge badge-pill badge-info coundown-date"></div>
                <img class="card-img-top" src="./assets/images/tours/{{hotest.image}}" alt="Card image">
                <div class="date-departure2 badge badge-warning"><i class="far fa-calendar-alt text-secondary "></i> {{hotest.departureDate|date:'dd/MM/yyyy'}}</div>
                <div class="slot2 badge badge-warning"><i class="fas fa-bus text-secondary "></i> {{hotest.slot}} slot</div>
              </div>
              <div class="card-body">
                  <a href="#" class="stretched-link"><h4 class="card-title font-weight-bold">{{hotest.name}}</h4></a>
                <hr>
                <p><a href="#" class="stretched-link" style="position: relative;"></a></p>
                <div class="row mt-3">
                  <div class="col-4 text-light font-italic badge badge-secondary mr-auto ml-3 tour-price"><s>{{hotest.promotionPrice|currency }}</s></div>
                  <div class="col-4 text-light font-weight-bold badge badge-danger ml-auto mr-3 tour-price">{{hotest.originalPrice|currency}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 content m-auto">
      <div class="container-fluid">
        <div class="h3 mt-3 text-dark  text-center">NEWEST TOUR</div>
        <div class="mt-1 pb-1 text-dark border-bottom text-center">The newest tours</div>
        <div class="row">
          <div class="col-lg-3 mt-2 mb-2" *ngFor="let newest of newestTours">
            <div class="card">
              <div id="parent_newest_{{newest.id}}">
                <div id="newest_{{newest.id}}" class="badge badge-pill badge-info coundown-date"></div>
                <img class="card-img-top" src="./assets/images/tours/{{newest.image}}" alt="Card image">
                <div class="date-departure2 badge badge-warning"><i class="far fa-calendar-alt text-secondary "></i> {{newest.departureDate|date:'dd/MM/yyyy'}}</div>
                <div class="slot2 badge badge-warning"><i class="fas fa-bus text-secondary "></i> {{newest.slot}} slot</div>
              </div>
              <div class="card-body">
                <a href="#" class="stretched-link"><h4 class="card-title font-weight-bold">{{newest.name}}</h4></a>
                <hr>
                <p><a href="#" class="stretched-link" style="position: relative;"></a></p>
                <div class="row mt-3">
                  <div class="col-4 text-light font-italic badge badge-secondary mr-auto ml-3 tour-price"><s>{{newest.promotionPrice|currency}}</s></div>
                  <div class="col-4 text-light font-weight-bold badge badge-danger ml-auto mr-3 tour-price">{{newest.originalPrice|currency }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="jumbotron">-->
<!--  <h1 class="display-4">{{'app_title' | translate}}</h1>-->
<!--  <p class="lead">-->
<!--    {{'app_description' | translate}}-->
<!--  </p>-->
<!--  <p class="lead">-->
<!--    <a class="btn btn-primary btn-lg" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener" role="button">More-->
<!--      info</a>-->
<!--  </p>-->
<!--</div>-->

<!--<div class="row justify-content-md-center">-->
<!--  <h2 class="text-uppercase">Features</h2>-->
<!--</div>-->

<!--<hr>-->

<!--&lt;!&ndash; Techs &ndash;&gt;-->
<!--<div class="row">-->
<!--  <div class="col-sm-6">-->
<!--    <img class="img-fluid float-left" src="/assets/images/aspnetcore.png" alt="Aspnetcore image" width="140" height="140">-->
<!--    <h2>ASP.NET Core</h2>-->
<!--    <p>ASP.NET is an open source web framework for building modern web apps and services with .NET. ASP.NET creates-->
<!--      websites based on HTML5, CSS, and JavaScript that are simple, fast, and can scale to millions of users.-->
<!--    </p>-->
<!--    <p class="leat"><a class="btn btn-secondary" target="_black" rel="noopener" href="https://www.asp.net/" role="button">View details »</a></p>-->
<!--  </div>-->
<!--  <div class="col-sm-6">-->
<!--    <img class="img-fluid float-left" src="/assets/images/angular.png" alt="Angular image" width="140" height="140">-->
<!--    <h2>Angular</h2>-->
<!--    <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google-->
<!--      and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built-->
<!--      AngularJS.-->
<!--    </p>-->
<!--    <p class="leat"><a class="btn btn-secondary" target="_black" rel="noopener" href="https://angular.io/" role="button">View details »</a></p>-->
<!--  </div>-->
<!--</div>-->

<!-- Description -->
<!-- <div class="row">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
      semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165b5946ea5%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165b5946ea5%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      data-holder-rendered="true" style="width: 500px; height: 500px;">
  </div>
</div> -->