<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [ngClass]="chosenEdit?'nav-link active':'nav-link'" (click)="newPost()" >Edit tours</a>
    </li>
</ul>
<appc-table #table [options]="options"></appc-table>
<ng-template #statusTemplate let-row="row" let-value="value">
    <input class="form-check-input" type="checkbox" checked *ngIf="value==1"/>
    <input class="form-check-input" type="checkbox" *ngIf="value==0"/>
    {{value == 1 ? 'Enable' : 'Disable'}}
</ng-template>
<ng-template #postCateTemplate let-row="row" let-value="value">
    <!--    {{row.categoryName}}-->
    {{row.postCategoryId}}
</ng-template>