.chuy {
  text-align: justify;
  line-height: 20px;
  margin-top: 10px;
  border-left: 4px solid #ff002d;
  padding: 15px;
  margin-bottom: 10px;
  color: #212121;
  background: #f4f4f4;
}
.title1{
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: center;
}
.text-center{
  padding-bottom: 10px;
}
.col-xs-12{
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  list-style-type: none;

}
.btn.btn-md.btn-general{
  background: red;
  color: white;
  border: 1px;
  border-radius: 1px;

}
.fa, .fas{
  display: inline-block;
}
.i-con{
  float: left;
  width: 20px;
}
.star{
  color: red;
}
.container{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  font-size: 15px;
}
.tour-name{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-top: 15px;
  border-top: 1px dashed #ccc;
}
.pic-title{
  width: 100%;
}
a.title-pic{
  text-decoration: none;
  color: black;
}
a.title-pic:hover{
  text-decoration: none;
  color: red;
}
.f-left{
  float: left;
}
.f-left.l{
  padding-right: 10px;

}
.f-left.r {
  margin-bottom: 5px;
}
.font500.price{
  color: red;
}
a.b {
  text-decoration: none;
  color: red;
}
.cus-num {
  padding: 12px 15px 12px 15px;
  background: #f4f4f4;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ccc;
}
.frame-cus {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
#gianguyengoc{
  color: red;
}
#tonggia{
  color: red;
}
.radio{
  position: relative;
  display: block;
  margin-top: 10px;
}
.frame-payment {
  background: #f4f4f4;
  padding: 15px;
}
.frame-rule {
  padding: 15px;
  background: #f4f4f4;
  overflow: hidden;
}
.rule-content {
  text-align: justify;
  word-wrap: break-word;
  overflow-y: scroll;
  line-height: 22px;
  height: 190px;
  padding-right: 10px;
}
.btn-book{
  background-color:  red;
  color: black;
  margin-top: 50px;
  margin-right: 200px;
}

