<div class="footer-static">
    <div class="container">
        <div class="f-grid">
            <div class="f-col f-col-1 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Service</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">About FlasTour</a></li>
                        <li class="#"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-5 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Policy</h3>
                </div>
                <div class="footer-static-content ">
                    <ul>
                        <li><a href="#">Tour booking policy</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Return policy</a></li>
                        <li class="last"><a href="#">Payment methods</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-6 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Information</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li><a href="#" onclick="return false;">Travel guide</a></li>
                        <li><a href="#">Travel experience</a></li>
                        <li><a href="#">Travel magazinesn</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-7 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Contact</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li><em class="fa fa-map-marker">&nbsp;</em><span>Address:</span> 03-Quang Trung-Da Nang</li>
                        <li><em class="fa fa-envelope">&nbsp;</em><span>Email:</span> info@flashtour.dtu.edu</li>
                        <li><em class="fa fa-phone">&nbsp;</em><span>Phone:</span> 1900636467</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="coppy col-6 ">
                   @ Copyright 2020 by <a href="#">Flash Tour</a>. All Rights Reserved.
                </div>
                <div class="icon col-6">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <a target="_blank" href="#" title="Facebook">
                            <img alt="Facebook" src="./assets/images/facebook-logo.png">
                        </a>
                        <a target="_blank" href="#" title="Instagram">
                            <img alt="Instagram" src="./assets/images/instagram-logo.png">
                        </a>
                        <a target="_blank" href="#" title="Youtube">
                            <img alt="Youtube" src="./assets/images/youtube-logo.png">
                        </a>
                        <a target="_blank" href="#" title="Twitter">
                            <img alt="Tumblr" src="./assets/images/twitter-logo.png">
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>