
<footer *ngIf="!IsNotUser" >
    <hr>
    <section id="extra_content" >
        <article class="column">
            <h4 class="font-weight-bold">FLASH TOUR</h4>
            Flash tour is a tourism Company specializing in organizing domestic tourism tour and other prestigious and professional foreign tour. Book tours at flashtour.com with many domestic tours and international tours. Thoughtful support 24/7. Payment is diverse and secure.
        </article>
        <article class="column midlist">
            <h4>News</h4>
            <ul>
                <li><a href="#_"><i class="fas fa-arrow-circle-right"></i> Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_"><i class="fas fa-arrow-circle-right"></i> Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_"><i class="fas fa-arrow-circle-right"></i> Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_"><i class="fas fa-arrow-circle-right"></i> Lorem ipsum dolor sit amet</a></li>
            </ul>
        </article>
        <article class="column rightlist">
            <h4>Guides</h4>
            <ul>
                <li><a href="#_"><img src="./assets/images/tours/tour_1.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
                <li><a href="#_"><img src="./assets/images/tours/tour_2.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
                <li><a href="#_"><img src="./assets/images/tours/tour_3.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
            </ul>
        </article>
    </section>
    <section id="page_owner_info">
        <div class="wraper">
            <div class="copyright">@ Copyright 2020 by <a href="#">FlashTour</a>. All Rights Reserved.
            </div>
            <div class="ml-3" id="google_translate_element"></div>
            <div class="social">
                <a href="#"><img src="./assets/images/youtube-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/twitter-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/instagram-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/facebook-logo.png" alt=""></a>
            </div>
        </div>
    </section>
</footer>
<footer *ngIf="IsNotUser" class="footer-admin">
    <hr>
    <section id="page_owner_info">
        <div class="wraper">
            <div class="copyright">@ Copyright 2020 by <a href="#">FlashTour</a>. All Rights Reserved.
            </div>
            <div class="ml-3" id="google_translate_element"></div>
            <div class="social">
                <a href="#"><img src="./assets/images/youtube-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/twitter-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/instagram-logo.png" alt=""></a>
                <a href="https://www.facebook.com/flashtourdtu" target="_blank"><img src="./assets/images/facebook-logo.png" alt=""></a>
            </div>
        </div>
    </section>
</footer>