<footer>
    <section id="extra_content">
        <article class="column">
            <h4>Lorem ipsum</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laudantium sed quaerat amet earum tenetur quidem fugit qui sapiente doloribus dolor rerum architecto vitae, ducimus magnam suscipit nesciunt. Qui, sit.
        </article>
        <article class="column midlist">
            <h4>Consectetur</h4>
            <ul>
                <li><a href="#_">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#_">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </article>
        <article class="column rightlist">
            <h4>Adipisicing</h4>
            <ul>
                <li><a href="#_"><img src="./assets/images/slide-1.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
                <li><a href="#_"><img src="./assets/images/slide-2.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
                <li><a href="#_"><img src="./assets/images/slide-3.jpg"alt=""><span>Vero laudantium sed quaerat amet earum</span></a></li>
            </ul>
        </article>
    </section>
    <section id="page_owner_info">
        <div class="wraper">
            <div class="copyright">@ Copyright 2019 by <a href="#">NV Hoor</a>. All Rights Reserved.
            </div>
            <div class="social">
                <a href="#"><img src="./assets/images/youtube-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/twitter-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/instagram-logo.png" alt=""></a>
                <a href="#"><img src="./assets/images/facebook-logo.png" alt=""></a>
            </div>
        </div>
    </section>
</footer>
<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        &copy; 2018 {{'app_title' | translate}}-->
<!--    </div>-->
<!--</footer>-->