<section class="container-fluid">
    <appc-tour-category></appc-tour-category>
    <div class="row" *ngIf="hotestTours">
        <div class="col-lg-10 content m-auto">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">HOTEST TOUR</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">The hotest tours</div>
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let hotest of hotestTours">
                        <div class="card card-tour">
                            <div id="parent_hotest_{{hotest.id}}">
                                <div id="hotest_{{hotest.id}}" class="badge badge-pill badge-info coundown-date"></div>
                                <img class="card-img-top mb-3" src="./assets/images/tours/{{hotest.image}}" onerror="this.src='./assets/images/proposal-flight.png';" alt="Card image">
                                <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt text-secondary "></i> {{hotest.departureDate|date:'dd/MM/yyyy'}}</div>
                                <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus text-secondary "></i> {{hotest.slot}} slot</div>
                            </div>
                            <div class="card-body">
                                <a  class="stretched-link" routerLinkActive="active" routerLink="user/detail/{{hotest.id}}"><h4 class="card-title font-weight-bold">{{hotest.name}}</h4></a>
                                <hr>
                                <p><a  class="stretched-link" style="position: relative;"></a></p>
                                <div class="row">
                                    <h6 class="col-6"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{hotest.promotionPrice|currency}}</s></span></h6>
                                    <h6 class="col-6"><span class="text-light badge badge-danger tour-price">{{hotest.originalPrice|currency }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="newestTours">
        <div class="col-lg-10 content m-auto">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">NEWEST TOUR</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">The newest tours</div>
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let newest of newestTours">
                        <div class="card card-tour">
                            <div id="parent_newest_{{newest.id}}">
                                <div id="newest_{{newest.id}}" class="badge badge-pill badge-info coundown-date"></div>
                                <img class="card-img-top mb-3" src="./assets/images/tours/{{newest.image}}" onerror="this.src='./assets/images/proposal-flight.png';" alt="Card image">
                                <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt"></i> {{newest.departureDate|date:'dd/MM/yyyy'}}</div>
                                <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus"></i> {{newest.slot}} slot</div>
                            </div>
                            <div class="card-body">
                                <a routerLinkActive="active" routerLink="user/detail/{{newest.id}}" class="stretched-link"><h4 class="card-title font-weight-bold" >{{newest.name}}</h4></a>
                                <hr>
                                <p><a class="stretched-link" style="position: relative;"></a></p>
                                <div class="row">
                                    <h6 class="col-6"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{newest.promotionPrice|currency}}</s></span></h6>
                                    <h6 class="col-6"><span class="text-light badge badge-danger tour-price">{{newest.originalPrice|currency }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>