<section class="container-fluid">
    <appc-tour-category></appc-tour-category>
    <div class="row" *ngIf="searchingTours">
        <div class="col-lg-10 content m-auto">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">SEARCH RESULTS</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">List of tour depart from {{emitSearch.departureName}}</div>
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let searchTour of searchingTours">
                        <div class="card card-tour">
                            <div id="parent_search_{{searchTour.id}}">
                                <div id="search_{{searchTour.id}}" class="badge badge-pill badge-info coundown-date notranslate"></div>
                                <img class="card-img-top mb-3" src="{{baseUrl}}assets/images/tours/{{searchTour.image}}" onerror="this.src=this.baseUrl+'assets/images/tours/tour_2.jpg';" alt="Card image">
                                <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt text-secondary "></i> {{searchTour.departureDate|date:'dd/MM/yyyy'}}</div>
                                <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus text-secondary "></i> {{searchTour.slot}} slot</div>
                            </div>
                            <div class="card-body">
                                <a  class="stretched-link" routerLinkActive="active" routerLink="user/detail/{{searchTour.id}}"><h4 class="card-title card-tour-title font-weight-bold">{{ truncate(searchTour.name,30)}}</h4></a>
                                <hr>
                                <p><a  class="stretched-link" style="position: relative;"></a></p>
                                <div class="row">
                                    <h6 class="col-6" *ngIf="checkExpiredPromotion(searchTour)&&searchTour.promotionPrice!=searchTour.originalPrice"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{searchTour.promotionPrice|currency}}</s></span></h6>
                                    <h6 class="col-auto" [ngClass]="{'mt-auto col-12': !checkExpiredPromotion(searchTour)}"><span class="text-light badge badge-danger tour-price">{{searchTour.originalPrice|currency }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-label="Page navigation m-auto" *ngIf="pageNums.length>1">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link btn-cate" (click)="changePage(typePagingChosen.Pre,0)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item {{pageNum.active}}" *ngFor="let pageNum of pageNums">
                            <a class="page-link btn-cate" (click)="changePage(typePagingChosen.Num,pageNum.num)">{{pageNum.num+1}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link btn-cate" (click)="changePage(typePagingChosen.Next,0)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Post-->
    <div class="row" *ngIf="searchingPosts">
        <div class="col-lg-10 content m-auto">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">SEARCH RESULTS</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">List of post from {{emitSearchPost.categoryName}}</div> 
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let postCard of searchingPosts">
                        <div class="card card-tour">
                            <div id="parent_similar_{{postCard.id}}">
                                <div id="similar_{{postCard.id}}" class="badge badge-pill badge-info coundown-date notranslate"></div>
                                <img class="card-img-top mb-3" src="{{baseUrl}}assets/images/posts/{{postCard.image}}" onerror="this.src=this.baseUrl+'assets/images/proposal-flight.png';" alt="Card image">
                                <div class="card-body">
                                    <a  class="stretched-link"><div class="card-text font-weight-normal" >{{postCard.name}}</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Post-->

    <div class="row" *ngIf="hotestTours">
        <div class="col-lg-10 content m-auto">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">HOTEST TOUR</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">The hotest tours</div>
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let hotest of hotestTours">
                        <div class="card card-tour">
                            <div id="parent_hotest_{{hotest.id}}">
                                <div id="hotest_{{hotest.id}}" class="badge badge-pill badge-info coundown-date notranslate" ></div>
                                <img class="card-img-top mb-3" src="{{baseUrl}}assets/images/tours/{{hotest.image}}" onerror="this.src=baseUrl+'assets/images/tours/tour_2.jpg';" alt="Card image">
                                <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt text-secondary "></i> {{hotest.departureDate|date:'dd/MM/yyyy'}}</div>
                                <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus text-secondary "></i> {{hotest.slot}} slot</div>
                            </div>
                            <div class="card-body">
                                <a  class="stretched-link" routerLinkActive="active" routerLink="user/detail/{{hotest.id}}"><h4 class="card-title card-tour-title font-weight-bold">{{ truncate(hotest.name,30)}}</h4></a>
                                <hr>
                                <p><a  class="stretched-link" style="position: relative;"></a></p>
                                <div class="row">
                                    <h6 class="col-6" *ngIf="checkExpiredPromotion(hotest)&&hotest.promotionPrice!=hotest.originalPrice"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{hotest.promotionPrice|currency}}</s></span></h6>
                                    <h6 class="col-auto" [ngClass]="{'mt-auto col-12': !checkExpiredPromotion(hotest)}"><span class="text-light badge badge-danger tour-price">{{hotest.originalPrice|currency }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="newestTours">
        <div class="col-lg-10 content m-auto" translate="no">
            <div class="container-fluid">
                <div class="h3 mt-3 text-dark  text-center font-weight-bold">NEWEST TOUR</div>
                <div class="mt-1 pb-1 text-dark border-bottom text-center">The newest tours</div>
                <div class="row">
                    <div class="col-lg-3 mt-2 mb-2" *ngFor="let newest of newestTours">
                        <div class="card card-tour">
                            <div id="parent_newest_{{newest.id}}">
                                <div id="newest_{{newest.id}}" class="badge badge-pill badge-info coundown-date notranslate"></div>
                                <img class="card-img-top mb-3" src="{{baseUrl}}assets/images/tours/{{newest.image}}" onerror="this.src=baseUrl+'assets/images/tours/tour_2.jpg';" alt="Card image">
                                <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt"></i> {{newest.departureDate|date:'dd/MM/yyyy'}}</div>
                                <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus"></i> {{newest.slot}} slot</div>
                            </div>
                            <div class="card-body">
                                <a routerLinkActive="active" routerLink="user/detail/{{newest.id}}" class="stretched-link"><h4 class="card-title card-tour-title font-weight-bold" >{{ truncate(newest.name,30)}}</h4></a>
                                <hr>
                                <p><a class="stretched-link" style="position: relative;"></a></p>
                                <div class="row">
                                    <h6 class="col-6" *ngIf="checkExpiredPromotion(newest)&&newest.promotionPrice!=newest.originalPrice"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{newest.promotionPrice|currency}}</s></span></h6>
                                    <h6 class="col-auto" [ngClass]="{'mt-auto col-12': !checkExpiredPromotion(newest)}"><span class="text-light badge badge-danger tour-price">{{newest.originalPrice|currency }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   