@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Identity server</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico?v1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico?v1" />
    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/reset.min.css" asp-append-version="true" data-noprefix />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" data-noprefix/>
    <style type="text/css" media="screen">
        html,body{
          height: 100%;
        }  
        </style>
</head>
<body>
        @RenderBody()

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
