//header {
//    margin-bottom: 10px;
//}
hr{
  margin-bottom: 0px;
  margin-top: 0px;
}
.navbar-dark .navbar-nav .nav-link:hover{
  font-weight: bold;
  font-size: 15px;
}
#imgLogo{
  position: absolute;
  left: 20px;
  top:-8px;
  max-height: 80px;
  max-width: 200px;
}
#btn-redirect-home{
  cursor: pointer;
}