//header {
//    margin-bottom: 10px;
//}
hr{
  margin-bottom: 0px;
  margin-top: 0px;
}
.navbar-dark .navbar-nav .nav-link:hover{
  font-weight: bold;
  font-size: 15px;
}
#imgLogo{
  position: absolute;
  left: 20px;
  top:-8px;
  max-height: 80px;
  max-width: 200px;
}
a.contact {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: block;
  margin-top: 7px;
}