<div class="container col-lg-10 m-auto" *ngIf="tour">
    <h1 class="h4 text-danger mt-1">{{tour.name}}</h1>
    <div class="font-weight-bold mb-2"><i class="fas fa-qrcode"></i> {{tour.id|uppercase}}</div>
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide col-lg-7" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''" *ngFor="let slide of tourImages;let i=index"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item {{image.active}}" *ngFor="let image of tourImages">
                    <img class="d-block w-100" src="../../../assets/images/{{image.name}}" onerror="this.src='./assets/images/banners/banner_3.jpg';" alt="First slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-lg-5">
            <appc-rating #rating *ngIf="evaluation&&tour" [evaluation]="evaluation"></appc-rating>
            <div *ngIf="evaluation"><span>{{getAverageEvaluation()}}/5</span><span> in</span><span> {{getTotalEvaluation()}}</span><span> evaluations</span></div>
            <div><i class="fas fa-eye mt-1"></i><span> {{tour.viewCount}}</span> views</div>
            <hr class="dashed mt-1">
            <div class="ml-2 mt-2 row">
                <div class="col-lg-5">Departure Date:</div>
                <div class="col-lg-5">{{tour.departureDate|date:'dd/MM/yyyy'}}</div>
            </div>
            <div class="ml-2 mt-2 row">
                <div class="col-lg-5">Total days:</div>
                <div class="col-lg-5">{{tour.daysLeft}}</div>
            </div>
            <div class="ml-2 mt-2 row">
                <div class="col-lg-5">Place of departure:</div>
                <div class="col-lg-5">{{tour.departureName}}</div>
            </div>
            <hr class="dashed mt-1">
            <h1 class="h4 text-danger mt-1 ml-3">{{tour.promotionPrice|currency}}</h1>
            <div class="ml-2 mt-2 row">
                <div class="col-lg-5 mt-3">Slots left:<span class="text-danger"> {{tour.slot}}</span></div>
                <div class="col-lg-5">
                    <a routerLinkActive="active" routerLink="../../tour-booking/{{tour.id}}" [ngClass]="isCanBooking()?'btn btn-info':'btn btn-info disabled'">Book Tour</a></div>
            </div>
        </div>
    </div>
    <div >
        <h1 class="h4 text-danger mt-3">Tour Programs</h1>
        <p class="mb-3">{{tour.description}}</p>
        <div class="row" *ngFor="let tourProgram of tour.tourPrograms">
            <div class="col-lg-3">
                <div class="h1 text-danger ml-3 mt-5">{{tourProgram.orderNumber}}.</div>
                <div>{{tourProgram.date|date:'HH:mm dd/MM/yyyy'}}</div>
            </div>
            <div class="border">
<!--                <div class="circle-tour"><i class="fas fa-circle"></i></div>-->
            </div>
            <div class="col-lg pl-5">
                <h1 class="h5 text-danger mt-3"><i class="fas fa-map-marker-alt"></i> {{tourProgram.destination}}-{{tourProgram.title}}</h1>
                <div>{{tourProgram.description}}</div>
                <hr class="dashed mt-3">
            </div>
        </div>

        <h1 class="h4 text-danger mt-3">Similar Tours</h1>
        <div class="row">
            <div class="col-lg-3 mt-2 mb-2" *ngFor="let tourCard of toursByCategory">
                <div class="card card-tour">
                    <div id="parent_similar_{{tourCard.id}}">
                        <div id="similar_{{tourCard.id}}" class="badge badge-pill badge-info coundown-date notranslate"></div>
                        <img class="card-img-top mb-3" src="./assets/images/tours/{{tourCard.image}}" onerror="this.src='./assets/images/tours/tour_2.jpg';" alt="Card image">
                        <div class="date-departure2 badge badge-warning mb-3"><i class="far fa-calendar-alt text-secondary "></i> {{tourCard.departureDate|date:'dd/MM/yyyy'}}</div>
                        <div class="slot2 badge badge-warning mb-3"><i class="fas fa-bus text-secondary "></i> {{tourCard.slot}} slot</div>
                    </div>
                    <div class="card-body">
                        <a (click)="redirectMySelf(tourCard.id)" class="stretched-link"><h4 class="card-title card-tour-title font-weight-bold" >{{ truncate(tourCard.name,30)}}</h4></a>
                        <hr>
                        <p><a class="stretched-link" style="position: relative;"></a></p>
                        <div class="row">
                            <h6 class="col-6" *ngIf="checkExpiredPromotion(tourCard)&&tourCard.promotionPrice!=tourCard.originalPrice"><span class="text-light font-italic badge badge-secondary tour-price"><s>{{tourCard.promotionPrice|currency}}</s></span></h6>
                            <h6 class="col-auto" [ngClass]="{'mt-auto col-12': !checkExpiredPromotion(tourCard)}"><span class="text-light badge badge-danger tour-price">{{tourCard.originalPrice|currency }}</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>